<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171244469665-pbi27fe89lshp30da890ks8qrv47mb8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171244469665-pbi27fe89lshp30da890ks8qrv47mb8v</string>
	<key>API_KEY</key>
	<string>AIzaSyB-Y0qk9Mji-1PEeh-mtuNKwYD917MVK4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>171244469665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.EasyBuyProject</string>
	<key>PROJECT_ID</key>
	<string>easybuy-e9cc5</string>
	<key>STORAGE_BUCKET</key>
	<string>easybuy-e9cc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171244469665:ios:631d7571c0ad90c146dfe0</string>
</dict>
</plist>